@font-face {
    font-family: "title font";
    src: url("./static/font/Blood\ Thirst.ttf");
}

@font-face {
    font-family: "button font";
    src: url("./static/font/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "contents font";
    src: url("./static/font/cafe.ttf");
}

.page{
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    background: url('./static/image/hand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page::after {
    position: absolute;
    z-index: -1;
    background: url("./static/image/hand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.5;

}

.horrorStory {
  display: flex;
  flex-direction: column;
}


.title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: #df2a1d;
  font-family: DancingScript;
}
.textPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyContent {
  border: solid #000000;
  color: #f5f3f3;
  height: 26rem;
  width: 40rem;
}

.btnPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background: #df2a1d;
  color: rgb(0, 0, 0);
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 2rem;
  border-radius: 2rem;
}
.storyContent{
    border: solid #000000 ;
    border-style: double;
    color:#ffffff;
    width: 40rem;
    padding: 1rem;
    font-family: 'contents font';
    font-size: 1.3rem;
}

.btnPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    font-family: 'button font';
    background:#e62c1f;
    color:rgb(0, 0, 0);
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin: 2rem;
    border-radius: 2rem;
  }
button:hover{
    background:rgb(0, 0, 0);
    color:#df2a1d;
button:hover {
  background: rgb(0, 0, 0);
  color: #df2a1d;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #df2a1d;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.wrongAnswerContents {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 9rem;
  width: 70%;
  height: 70%;
  color: red;
}

.wrongAnswerContents img {
  width: 50%;
  height: 50%;
}
